@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /* Feuersoftware Primary Color #952229 */
  --color-primary-50: #fef2f2;
  --color-primary-100: #fee2e3;
  --color-primary-200: #fecacc;
  --color-primary-300: #fca5a9;
  --color-primary-400: #f87177;
  --color-primary-500: #952229;
  --color-primary-600: #832025;
  --color-primary-700: #6e1b1f;
  --color-primary-800: #5c191d;
  --color-primary-900: #4f1a1d;
  --color-primary-950: #2c090b;
}

.bg-theme {
  background-color: #952329;
  color: var(--ui-color-neutral-100);
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-color-neutral-300) var(--ui-color-neutral-100);
}

.dark * {
  scrollbar-color: var(--ui-color-neutral-700) var(--ui-color-neutral-800);
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--ui-color-neutral-100);
}

.dark ::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--ui-color-neutral-800);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  background-color: var(--ui-color-neutral-300);
}

.dark ::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  background-color: var(--ui-color-neutral-700);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--ui-color-neutral-400);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--ui-color-neutral-600);
}
