@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /* Feuersoftware Primary Color #952229 */
  --color-primary-50: #fef2f2;
  --color-primary-100: #fee2e3;
  --color-primary-200: #fecacc;
  --color-primary-300: #fca5a9;
  --color-primary-400: #f87177;
  --color-primary-500: #952229;
  --color-primary-600: #832025;
  --color-primary-700: #6e1b1f;
  --color-primary-800: #5c191d;
  --color-primary-900: #4f1a1d;
  --color-primary-950: #2c090b;
}

.bg-theme {
    background:  #952329;
    background-color:  #952329;
    color: var(--ui-color-neutral-100);
  }
  .dark {
    .bg-theme {
      background:  #952329;
      background-color:  #952329;
    }
  }

  ::-webkit-scrollbar {
  background-color: transparent;
    height: .6em;
    width: .6em;
    /* width: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  --tw-bg-opacity: 1;
    background-color: var(--ui-color-neutral-100);
    /* background: var(--ui-color-neutral-100);
    border-radius: 5px; */
}

.dark ::-webkit-scrollbar-track {
  border-radius: 5px;
  --tw-bg-opacity: 1;
    background-color: var(--ui-color-neutral-800);
    /* background: var(--ui-color-neutral-100);
    border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: .6em;
    --tw-bg-opacity: 1;
    background-color: var(--ui-color-neutral-300);
    /* background: var(--ui-color-neutral-200);
    border-radius: 5px; */
}

.dark ::-webkit-scrollbar-thumb {
  border-radius: .6em;
    --tw-bg-opacity: 1;
    background-color: var(--ui-color-neutral-700);
    /* background: var(--ui-color-neutral-200);
    border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--ui-color-neutral-400);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: var(--ui-color-neutral-600);
}